:root {
  --main-bg-color: #886CC0;
  /* --main-bg-color: #009d63; */
  --main-text-color: #886CC0;
  /* --main-text-color: #009d63; */
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
  --primary: #886CC0;
  --secondary: #FFA7D7;
  --primary-light: #a590cf;
  --primary-hover: #6c4bae;
  --primary-dark: #402c67;
  --rgba-primary-1: rgba(136, 108, 192, 0.1);
  --rgba-primary-2: rgba(136, 108, 192, 0.2);
  --rgba-primary-3: rgba(136, 108, 192, 0.3);
  --rgba-primary-4: rgba(136, 108, 192, 0.4);
  --rgba-primary-5: rgba(136, 108, 192, 0.5);
  --rgba-primary-6: rgba(136, 108, 192, 0.6);
  --rgba-primary-7: rgba(136, 108, 192, 0.7);
  --rgba-primary-8: rgba(136, 108, 192, 0.8);
  --rgba-primary-9: rgba(136, 108, 192, 0.9);
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #f8f8f8;
  /* background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  ); */
}

#sidebar-wrapper {
  /* min-height: 100vh; */
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item:hover {
  background-color: var(--main-bg-color) !important;
  color: white !important;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 767px) {
  .sidebar-heading {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
  }
}

.py-header {
  padding-top: 1.4rem !important;
  padding-bottom: 1.4rem !important;
}
